# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randint(1,100,size =(6,4)),columns=['a','b','c','d']);
print(df);

df.set_index('a', inplace=True);
print(df)

    a   b   c   d
0  17  42  97  89
1  56  35  74  54
2  13  22  82  64
3  37   9  58  27
4  44  99  79  60
5  14  18  18  71
     b   c   d
a
17  42  97  89
56  35  74  54
13  22  82  64
37   9  58  27
44  99  79  60
14  18  18  71

In [6]:
df = pd.DataFrame(np.random.randint(1,100,size=(3,3)), columns=['A','B','C'],index=['X','Y','Z'])
print(df);

elem = df.at['Y','B'];
print("Element at row 'Y' and column 'B':", elem);

    A   B   C
X  93  12   4
Y  19  33  41
Z  95  20  84
Element at row 'Y' and column 'B': 33

In [ ]:
df =  pd.DataFrame(np.random.randint(1,20,size = (5,3)),columns=['A','B','C'], index=['1','2','3','4','5']); 
print(df);

# now add a new column that return the product of first 2 columns 


df['D'] = df['A'] * df['B'];
print(df);

    A  B   C
1   2  9   9
2  12  4  19
3  18  9   2
4  15  3  19
5  14  7   3
    A  B   C    D
1   2  9   9   18
2  12  4  19   48
3  18  9   2  162
4  15  3  19   45
5  14  7   3   98

In [19]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'],index=[1,2,3,4,5]);
print("Original DataFrame:");
# print(df);


df.iloc[0,1] = np.nan
df.iloc[2,2] = np.nan
df.iloc[4,1] = np.nan

print(df);
# print(df.mean())

df.fillna(df.mean(), inplace=True); ## fill kar diya nan ki jaga mean se 
print(df)

Original DataFrame:
    A     B     C
1  14   NaN  86.0
2  73  12.0  52.0
3  70  79.0   NaN
4  12  59.0  51.0
5  70   NaN  36.0
    A     B      C
1  14  50.0  86.00
2  73  12.0  52.00
3  70  79.0  56.25
4  12  59.0  51.00
5  70  50.0  36.00

In [26]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C','D'])
print("Original DataFrame:")
print(df); 

df.iloc[0,3] = np.nan
df.iloc[1,0] = np.nan
df.iloc[2,2] = np.nan
df.iloc[3,1] = np.nan

print(df)

# Drop the rows with any NaN values

df.dropna(inplace=True);
print(df)

Original DataFrame:
    A   B   C   D
0  76  35  24  14
1  44  27  41  54
2   2  81  71  87
3  65  56  77  44
4  36  84  50  86
5  41  16  39  16
      A     B     C     D
0  76.0  35.0  24.0   NaN
1   NaN  27.0  41.0  54.0
2   2.0  81.0   NaN  87.0
3  65.0   NaN  77.0  44.0
4  36.0  84.0  50.0  86.0
5  41.0  16.0  39.0  16.0
      A     B     C     D
4  36.0  84.0  50.0  86.0
5  41.0  16.0  39.0  16.0

In [2]:
import numpy as  np
import pandas as pd

In [ ]:
df = pd.DataFrame({'category' : np.random.choice(['A','B','C'], size=10), 
'Value' : np.random.randint(1,100,size = 10)}); 
print("Original DataFrame:")
print(df);

# Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category

grouped = df.groupby('category')['Value'].agg(['sum','mean'])
print("Grouped DataFrame:");
print(grouped);

Original DataFrame:
  category  Value
0        C     93
1        A     44
2        C     29
3        B     74
4        C     23
5        C     12
6        B     39
7        B     23
8        A     18
9        B     62
Grouped DataFrame:
          sum   mean
category
A          62  31.00
B         198  49.50
C         157  39.25

In [6]:
# Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

Original DataFrame:
  Product Category  Sales
0   Prod1        C     34
1   Prod3        C     78
2   Prod3        C     88
3   Prod3        B     48
4   Prod3        C     82
5   Prod3        B     69
6   Prod3        A     77
7   Prod2        B      7
8   Prod2        C     50
9   Prod3        A     35

In [8]:
# Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Grouped DataFrame:
Category
A    112
B    124
C    332
Name: Sales, dtype: int32

In [11]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

merged = pd.merge(df1,df2, on = 'Key');
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      62
1   B      26
2   C       2
3   D      64
DataFrame 2:
  Key  Value2
0   A      34
1   B       2
2   C      46
3   E      41
Merged DataFrame:
  Key  Value1  Value2
0   A      62      34
1   B      26       2
2   C       2      46

In [13]:
concat_rows = pd.concat([df1,df2],axis=0);
print("Concatenated DataFrame (rows):")
print(concat_rows);

concat_columns = pd.concat([df1,df2],axis= 1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

Concatenated DataFrame (rows):
  Key  Value1  Value2
0   A    62.0     NaN
1   B    26.0     NaN
2   C     2.0     NaN
3   D    64.0     NaN
0   A     NaN    34.0
1   B     NaN     2.0
2   C     NaN    46.0
3   E     NaN    41.0
Concatenated DataFrame (columns):
  Key  Value1 Key  Value2
0   A      62   A      34
1   B      26   B       2
2   C       2   C      46
3   D      64   E      41

In [18]:
date_rng = pd.date_range(start='2022-01-02',end='2022-12-31',freq='D'); 

df = pd.DataFrame(date_rng,columns=['Date'])
df['data'] = np.random.randint(0,100,size=(len(date_rng)))
df.set_index('Date', inplace=True); 
print("Original DataFrame:")
# print(df)

monthly_mean = df.resample('M').mean()
print(monthly_mean)

Original DataFrame:
                 data
Date
2022-01-31  56.533333
2022-02-28  53.178571
2022-03-31  46.838710
2022-04-30  48.500000
2022-05-31  56.290323
2022-06-30  50.200000
2022-07-31  55.258065
2022-08-31  43.677419
2022-09-30  45.600000
2022-10-31  55.096774
2022-11-30  54.333333
2022-12-31  49.483871

C:\Users\pawar\AppData\Local\Temp\ipykernel_17232\3108348067.py:9: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

In [ ]:
date_rng = pd.date_range(start='2022-01-02',end='2022-12-31',freq='D'); 

df = pd.DataFrame(date_rng,columns=['Date'])
df['data'] = np.random.randint(0,100,size=(len(date_rng)))
df.set_index('Date', inplace=True); 
print("Original DataFrame:")
# print(df)

rolling_mean = df.rolling(window=7).mean()
print(rolling_mean);

Original DataFrame:
                 data
Date
2022-01-02        NaN
2022-01-03        NaN
2022-01-04        NaN
2022-01-05        NaN
2022-01-06        NaN
...               ...
2022-12-27  57.285714
2022-12-28  55.714286
2022-12-29  60.285714
2022-12-30  50.285714
2022-12-31  42.714286

[364 rows x 1 columns]

In [25]:
# Find NaN values
nan_values = rolling_mean.isna()
# print(nan_values);

rolling_mean.fillna(rolling_mean.mean(), inplace=True)
print(rolling_mean)

                 data
Date
2022-01-02  50.063049
2022-01-03  50.063049
2022-01-04  50.063049
2022-01-05  50.063049
2022-01-06  50.063049
...               ...
2022-12-27  57.285714
2022-12-28  55.714286
2022-12-29  60.285714
2022-12-30  50.285714
2022-12-31  42.714286

[364 rows x 1 columns]

In [28]:
arr = [['A','A','B','B'],['one','two','one','two']]
index = pd.MultiIndex.from_arrays(arr, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1,100,size=(4,3)),index=index,columns=['Val1','Val2','Val3']);
print(df);

print(df.loc['A']);
print(df.loc['B','two'])

                      Val1  Val2  Val3
Category SubCategory
A        one            25    82    93
         two            31    59    93
B        one            79    18    36
         two            43    89    39
             Val1  Val2  Val3
SubCategory
one            25    82    93
two            31    59    93
Val1    43
Val2    89
Val3    39
Name: (B, two), dtype: int32

In [38]:
# Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D') ## date range
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
# print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date';

pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
# print(pivot_table)

naan = pivot_table.isna()
# print(naan);

nnew = naan.fillna(naan.mean(), inplace = True)
print(nnew)

Original DataFrame:
Pivot Table:
None

In [40]:
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['a','b','c']); 
# print(df);

df_double = df.applymap(lambda x : x*2) 
print(df_double)

     a    b    c
0   56   94   70
1   92   16   26
2   64   84   86
3   64  124   66
4  194    2  194

C:\Users\pawar\AppData\Local\Temp\ipykernel_17232\2210028414.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_double = df.applymap(lambda x : x*2)

In [43]:
df = pd.DataFrame(np.random.randint(1,100,size=(6,3)), columns=['a','b','c'])

df['sum'] = df.apply(lambda row : row.sum(), axis=1);
print(df)

    a   b   c  sum
0  83  85  57  225
1  26  28  33   87
2  88  48  61  197
3   3  47  16   66
4  97  11   2  110
5  30   6  54   90

In [44]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

upperCase = text_data.str.upper()
print(upperCase)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

In [46]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data);

first_three = text_data.str[:3]; 
print(first_three)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
0    app
1    ban
2    che
3    dat
4    eld
dtype: object