# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [5]:
sets = set(range(1,11)); 
print(sets)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [7]:
sets.add(22)
sets.remove(5)
print(sets)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 22}

In [ ]:
set1 = set(range(1,6)); 
set2 = set(range(2,12, 2))
print('one',set1);
print('two',set2);

print('union', set1 | set2) # only unique in both 
print('intersection', set1 & set2) # commmon in both 
print('difference', set1 - set2) # 
print('Symmetric differenece', set1 ^ set2) # differnent in both

one {1, 2, 3, 4, 5}
two {2, 4, 6, 8, 10}
union {1, 2, 3, 4, 5, 6, 8, 10}
intersection {2, 4}
difference {1, 3, 5}
Symmetric differenece {1, 3, 5, 6, 8, 10}

In [13]:
sq = {i**2 for i in range(1, 10)}; 
print(sq)

{64, 1, 4, 36, 9, 16, 49, 81, 25}

In [16]:
newSet = {1,2,3,4,5,7,8,9,10,12,2,14}; 
even = {i for i in newSet if i % 2  == 0}
print(even)

{2, 4, 8, 10, 12, 14}

In [ ]:
s = {1,2,3,42,1,2,3,4,6}
print(s)

{1, 2, 3, 4, 6, 42}

In [27]:
s1 = {1,2,3,4,5};
s2 = {1,2,3};

print(s2.issubset(s1))
print(s2.issuperset(s1))

print(s1.issuperset(s2))
print(s1.issubset(s2))

True
False
True
False

In [29]:
fs = frozenset(range(1,7))
print(fs)

frozenset({1, 2, 3, 4, 5, 6})

In [34]:
s1 = {1,2,3,4,5};
l1 = list(s1); 
l1.append(6);
print(l1) 
s2 = set(l1)
print(s2)

[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

In [35]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

In [36]:
s2 = set(range(1,10)); 
for i in s2:
  print(i)

1
2
3
4
5
6
7
8
9

In [40]:
s2 = set(range(1,10)); 
print(s2); 

while s2:
  s2.pop(); 
  print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
{5, 6, 7, 8, 9}
{6, 7, 8, 9}
{7, 8, 9}
{8, 9}
{9}
set()

In [44]:
s1 = {1,2,3,4,5};
s2 = {1,2,3};
s1.symmetric_difference_update(s2)
print(s1)

{4, 5}

In [45]:
s1 = {1,2,3,4,5};

print(6 in s1); 
print (1 in s1)

False
True

In [46]:
s1  = {(1,2),(3,2),(4,2)}
print(s1)

{(3, 2), (1, 2), (4, 2)}