# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [2]:
import sqlite3

def create_dataBase():
  conn = sqlite3.connect('test.db');
  conn.close()
  print('Database created and sucessfully connected');


create_dataBase()

Database created and sucessfully connected

In [3]:
def create_table ():
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('''
       CREATE TABLE IF NOT EXISTS employees (
                 id INTEGER PRIMARY KEY,
                 name TEXT NOT NULL,
                 age INTEGER,
                 department TEXT
                 )
''')
  conn.commit()
  conn.close()
  print("Table 'employees' created successfully.")

# Test the function
create_table()

Table 'employees' created successfully.

In [ ]:
def insert_employee(id,name,age,department):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('''
      INSERT INTO employees (id,name,age,department)
      VALUES (?,?,?,?)
''', (id,name,age,department))
  conn.commit()
  conn.close()
  print('Employee inserted Successfully');

# Insert 5 different employees
insert_employee(24, 'Bob', 25, 'Engineering')

Employee inserted Successfully

In [16]:
def fetch_all_employees():
  conn = sqlite3.connect('test.db');
  cursor = conn.cursor()
  cursor.execute('SELECT * FROM employees')
  records = cursor.fetchall()
  conn.close()
  for rec in records:
    print(rec)

fetch_all_employees()

(1, 'Alice', 10, 'HR')
(2, 'Bob', 25, 'Engineering')
(24, 'Bob', 25, 'Engineering')

In [19]:
def fetch_employees_by_department(dep):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('SELECT * FROM employees WHERE department = ?',(dep,))
  records = cursor.fetchall()
  conn.close()
  for rec in records:
    print(rec);


fetch_employees_by_department('Engineering')

(2, 'Bob', 25, 'Engineering')
(24, 'Bob', 25, 'Engineering')

In [20]:
def update_employee_department(id,new_dep):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute(
    ''' 
    UPDATE employees
    SET department = ?
    WHERE id = ?
''', (new_dep,id)
  )
  conn.commit()
  conn.close()
  print("Employee department updated successfully.")

update_employee_department(1, 'Finance')

Employee department updated successfully.

In [21]:
# Update the department of 2 employees
update_employee_department(2, 'Research')
update_employee_department(3, 'Customer Support')

# Fetch and display all records
fetch_all_employees()

Employee department updated successfully.
Employee department updated successfully.
(1, 'Alice', 10, 'Finance')
(2, 'Bob', 25, 'Research')
(24, 'Bob', 25, 'Engineering')

In [26]:
def delete_employee(id):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('''
        DELETE FROM employees
        WHERE id = ?
    ''', (id,))
  conn.commit()
  conn.close()
  print('deleted')

delete_employee(24)

deleted

In [27]:
def fetch_employee_older_than(age):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('SELECT * FROM employees WHERE age > ?',(age,))
  records = cursor.fetchall()
  conn.close()
  for rec in records:
    print(rec)


fetch_employee_older_than(2)

(1, 'Alice', 10, 'Finance')
(2, 'Bob', 25, 'Research')

In [ ]:
def name_start(letter):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('SELECT * FROM employees WHERE name LIKE ? ',(letter+ '%',))
  record = cursor.fetchall()
  conn.close()
  for rec in record:
    print(rec);

name_start('A')

(1, 'Alice', 10, 'Finance')

In [30]:
def insert_multiple_employees(employees):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            INSERT INTO employees (id, name, age, department)
            VALUES (?, ?, ?, ?)
        ''', employees)
        conn.commit()
        print("All employees inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function with valid and invalid data
employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    # (6, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]
insert_multiple_employees(employees)

All employees inserted successfully.

In [ ]:
def create_departments_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS departments (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL
        )
    ''')
    conn.commit()
    conn.close()
    print("Table 'departments' created successfully.")

# Test the function
create_departments_table()

In [2]:
def add_department_foreign_key():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        PRAGMA foreign_keys=off;
        BEGIN TRANSACTION;
        ALTER TABLE employees RENAME TO old_employees;
        CREATE TABLE employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT,
            department_id INTEGER,
            FOREIGN KEY(department_id) REFERENCES departments(id)
        );
        INSERT INTO employees (id, name, age, department)
               INSERT INTO employees (id, name, age, department)

    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' modified successfully.")

# Test the function
# add_department_foreign_key()

In [4]:
import sqlite3

In [5]:
def create_index_on_name():
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('CREATE INDEX idx_name ON employees(name)')
  conn.commit()
  conn.close()
  print("Index on 'name' column created successfully.")

# Test the function
create_index_on_name()

Index on 'name' column created successfully.

In [6]:
import time

def fetch_employees_name_starts_with_performance(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    for record in records:
        print(record)

# Test the function with the index
fetch_employees_name_starts_with_performance('A')

Time taken: 0.0 seconds
(1, 'Alice', 10, 'Finance')

In [7]:
import shutil

def backup_database():
  shutil.copy('test.db', 'backup.db')
  print('copied')


backup_database()

copied

In [8]:
def restore_database():
  shutil.copy('backup.db','test.db')
  print('restore')
  

restore_database()

restore